analysis
analysis/*
build/*
^config*.yml
.coverage
.coverage.*
data/fa*
data/kmeans*
data/outlier*
derby.log
dist/*
/docs/build
download_plates.sh
*hs_err*
.idea
.ipynb_checkpoints/
.ipynb_checkpoints/*
job
job
job
meta
metastore_db
.nfs*
plots/
pybda.egg-info/*
*.pyc
__pycache__/
.RData
results/
.Rhistory
Rplots.pdf
.Rproj.user
.Ruserdata
.snakemake
.snakemake/*
sparkcluster-*
sparkcluster-*
spark-warehouse
spark-warehouse/*
ssh_errors
.tox
