.snakemake/*
.snakemake
.nfs*
.ipynb_checkpoints/*
job
sparkcluster-*
*hs_err*
^config*.yml
.idea
download_plates.sh
.Rproj.user
.Rhistory
.RData
.Ruserdata
__pycache__/
plots/
results/
metastore_db
ssh_errors
spark-warehouse
.ipynb_checkpoints/
job
*.pyc
