.RData
.Rhistory
.Rproj.user
.Ruserdata
.coverage
.coverage.*
.idea
.ipynb_checkpoints/
.ipynb_checkpoints/*
.nfs*
.snakemake
.snakemake/*
.tox
Rplots.pdf
analysis
analysis/*
build/*
data/fa*
data/kmeans*
data/outlier*
derby.log
dist/*
download_plates.sh
job
job
job
meta
metastore_db
plots/
pybda.egg-info/*
results/
sparkcluster-*
sparkcluster-*
spark-warehouse
spark-warehouse/*
ssh_errors
*.pyc
*hs_err*
/docs/build
^config*.yml
__pycache__/
