spark: /cluster/home/simondi/spark/bin/spark-submit
infile: /cluster/home/simondi/simondi/data/tix/2-analysis-gmm/all_optimal_from_file_feature_dbq_250_cells_100.tsv
outfolder: /cluster/home/simondi/simondi/data/tix/2-analysis-gmm
factors: 15
centers:
  - 2
  - 5
sparkparams:
  - "--executor-memory=12G"
