spark: /cluster/home/simondi/spark/bin/spark-submit
infile: /cluster/home/simondi/simondi/data/tix/2-analysis-test/test_file.tsv
outfolder: /cluster/home/simondi/simondi/data/tix/2-analysis-test
factors: 15
max_centers: 1000
centers:
  - 2
  - 5
  - 10
  - 100
sparkparams:
  - "--executor-memory=345G"
