spark: /usr/local/spark/spark/bin/spark-submit
infile: data/dat_test.tsv
outfolder: data
meta: data/meta_cols.tsv
features: data/feature_cols.tsv
dimension_reduction: kpca
outliers: mahalanobis
clustering: gmm
regression: glm
family: binomial
response: is_infected
n_components: 5
max_centers: 10
sparkparams:
  - "--driver-memory=3G"
  - "--executor-memory=6G"
debug: true
