spark: /usr/local/spark/spark/bin/spark-submit
infile: data/single_cell_samples.tsv
outfolder: data
meta: data/meta_columns.tsv
features: data/feature_columns.tsv
dimension_reduction: pca
outliers: mahalanobis
clustering: kmeans
regression: glm
family: gaussian
response: infection
n_components: 5
max_centers: 10
sparkparams:
  - "--driver-memory=3G"
  - "--executor-memory=6G"
debug: true
