spark: spark-submit
infile: data/iris.tsv
outfolder: data
features: data/iris_feature_columns.tsv
dimension_reduction: factor_analysis
n_components: 2
sparkparams:
  - "--driver-memory=3G"
  - "--executor-memory=6G"

================ ===== ================================================================

Dimension reduction
---------------------- ----------------------------------------------------------------
``n_components``       comma-separated list of integers specifying the number of variables to use for the lower-dimensional space (e.g. "2,3,5,10" or "2")
================ ===== ================================================================
Clustering
---------------------- ----------------------------------------------------------------
``n_centers``           comma-separated list of integers specifying the number of cluster centers to use  (e.g. "2,3,5,10" or "2")
================ ===== ================================================================
Regression
---------------------- ----------------------------------------------------------------
``response``           the column name in ``infile`` specifying the response variable
``family``             ``gaussian`` or ``binomial`` distribution family of the response
================ ===== ================================================================