*.jar
target
dist
.idea/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/gradle.xml
.idea/libraries
.idea_modules/
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/workspace.xml
*.iml
*.ipr
*.iws
out/

