spark: spark-submit
infile: data/iris.tsv
predict: data/iris.tsv
outfolder: /Users/simondi/PROJECTS/target_infect_x_project/src/tix-analysis/data/test/binomial
meta: data/iris_meta_columns.tsv
features: data/iris_feature_columns.tsv
sparkparams:
  - "--driver-memory=3G"
  - "--executor-memory=6G"
debug: true
regression: forest
family: binomial
response: log_response
