spark: spark-submit
infile: data/iris.tsv
predict: data/iris.tsv
outfolder: /home/simon/PROJECTS/koios/data/test/gaussian
meta: data/iris_meta_columns.tsv
features: data/iris_feature_columns.tsv
sparkparams:
  - "--driver-memory=3G"
  - "--executor-memory=6G"
debug: true
regression: forest
family: gaussian
response: response
