spark: /cluster/home/simondi/spark/bin/spark-submit
infile: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod-small/data_dbg_250_sample_100-merged_no_dots.tsv
outfolder: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod-small
meta: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod-small/meta_cols.tsv
features: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod-small/feature_cols.tsv
regression: glm
dimension_reduction: pca
clustering: kmeans
outliers: mahalanobis
family: binomial
response: is_infected
sparkparams:
  - "--executor-memory=485G"
debug: true
