spark: /cluster/home/simondi/spark/bin/spark-submit
infile: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod-bartonella/bartonella_1000-merged_no_dots.tsv
outfolder: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod-bartonella
meta: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod-bartonella/meta_cols.tsv
features: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod-bartonella/feature_cols.tsv
regression: glm
dimension_reduction: pca
clustering: kmeans
outliers: mahalanobis
family: binomial
response: is_infected
sparkparams:
  - "--driver-memory=10G"
  - "--executor-memory=10G"
debug: true
