spark: /cluster/home/simondi/spark/bin/spark-submit
infile: /cluster/home/simondi/simondi/data/tix/2-analysis/data_dbg_250_sample_100-merged_no_dots.tsv
outfolder: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod
meta: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod/meta_cols.tsv
features: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod/feature_cols.tsv
family: binomial
response: is_infected
sparkparams:
  - "--executor-memory=480G"
debug: true