spark: /cluster/home/simondi/spark/bin/spark-submit
infile: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod/dat_test.tsv
outfolder: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod
meta: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod/meta_cols.tsv
features: /cluster/home/simondi/simondi/data/tix/2-analysis-linmod/feature_cols.tsv
regression: glm
dimension_reduction: pca
clustering: kmeans
outliers: mahalanobis
family: binomial
response: is_infected
sparkparams:
  - "--executor-memory=480G"
debug: true
